# this is an environment configuration file
# in order to test you must copy and configure this file

# set when is going to test Mssql [yes/no], default is no so all mssql test are skipped
testMssql = 'no'
# connection settings to mssql
testMssql_server = 'localhost'
testMssql_port = '1433'
testMssql_username = 'sa'
testMssql_password = ''
